.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.history/
.history/*

.DS_Store
.DS_Store?
_DS_Store
Thumbs.db
ehthumbs.db

node_modules/
**/node_modules/
.angular/
**/.angular/
/.angular/cache
/dist/
/tmp/
/out-tsc/
/bazel-out
.npm/
/coverage
/typings
__screenshots__/
.sass-cache/
/connect.lock

*.log
*-debug.log*
*-error.log*
npm-debug.log
yarn-error.log
testem.log
/libpeerconnection.log

/src-tauri/target/
target/
/src-tauri/gen/
/src-tauri/logs/

.env
.env.local
.env.*.local
