<div class="select-account">
  <div #selector class="selector"></div>

  <button
    #toggleBtn
    type="button"
    class="select-account-button"
    data-type="Offline"
    [class.selected]="profileMenuStore.currentType() === 'Offline'"
    (click)="selectTab($event)">
    Offline
  </button>

  <button
    #toggleBtn
    type="button"
    class="select-account-button"
    data-type="Microsoft"
    [class.selected]="profileMenuStore.currentType() === 'Microsoft'"
    (click)="selectTab($event)">
    Microsoft
  </button>
</div>
