.offline-auth-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.field-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;

  &.has-error {
    .field-wrapper {
      border-color: #ff4d4f;
    }
  }
}

// Стили лейбла НАД полем
.field-label {
  font-family: ui-sans-serif,
  system-ui,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
  text-transform: uppercase;
  color: oklch(55.2% 0.016 285.938);
  letter-spacing: 0.45px;
  font-weight: 700;
  font-size: 9px;
  padding-inline: 2px;
}

.field-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 2px;
}

.field-icon {
  margin-right: 10px;
  font-size: 20px;
  color: #888;
}

.field-description {
  font-family: ui-sans-serif,
  system-ui,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
  color: oklch(55.2% 0.016 285.938);
  line-height: 1.5;
  font-weight: 600;
  font-size: 9px;
  padding-inline: 2px;
}

.form-input {
  flex: 1;
  outline: none;
  font-size: 12px;
  line-height: calc(1 / 0.75);
  color: #e3e3e3;
  padding-block: 6px;
  padding-inline: 12px;
  background-color: #1C1E20;
  border: 1px solid #2B2F31;
  border-radius: 6px;
}

// Кнопка перезагрузки сбоку внутри инпута
.refresh-button {
  flex: 0;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9f9fa9;
  right: 0;
  background-color: #1C1E20;
  border: 1px solid #2B2F31;
  border-radius: 6px;

  svg {
    stroke: #9f9fa9;
    transition: stroke 0.2s, transform 0.2s;
  }

  &:hover {
    svg {
      transform: rotate(15deg);
      stroke: #3a85e1;
    }
  }
}

.field-error {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
}

.btn-submit {
  padding-block: 8px;
  flex: 1;
  background-color: rgba(16, 185, 129, 0.1);
  border: 1px solid rgba(16, 185, 129, 0.2);
  color: #34d399;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  transition: background-color 0.2s;

  &:disabled {
    color: #9f9fa9;
    background-color: color-mix(in oklab, #e3e3e3 5%, transparent);
    border: 1px solid #2B2F31;
    cursor: not-allowed;
  }
}
