<!--<div class="video-card-img" #card></div>-->
<!--<div class="video-card-name">{{ participant().name }}</div>-->

<!--<div class="properties">-->
<!--  @if (!participant().isMicEnabled ) {-->
<!--    <div class="property">-->
<!--      <ng-icon-->
<!--        class="property-icon"-->
<!--        name="matMicOff"-->
<!--      >-->
<!--      </ng-icon>-->
<!--    </div>-->
<!--  }-->
<!--  &lt;!&ndash;  Тут типа качество показывать&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="property">&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-icon&ndash;&gt;-->
<!--&lt;!&ndash;      class="property-icon"&ndash;&gt;-->
<!--&lt;!&ndash;      name="matMic"&ndash;&gt;-->
<!--&lt;!&ndash;    >&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-icon>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->

<!--<div class="overlay">-->
<!--  <ng-icon-->
<!--    class="overlay-icon"-->
<!--    name="matFullscreen"-->
<!--    appSmartContrast-->
<!--    [appSmartContrastTarget]="card">-->
<!--  </ng-icon>-->
<!--</div>-->
